.content{
  margin-top: 40px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  top: 0;
  /* background-color: blanchedalmond; */
}
.empty{
  width: 200px;

}
.content-field{
  flex-basis:400px;

} 
.table-game{
  align-self:flex-start;
  margin-top: 15px;
  margin-bottom: 15px;
}
.field{
  margin: 15px auto;
width: 350px;
height: 350px;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
position: relative;
}
.field-cell{
  width: 31%;
   height: 31%;
}
.button{
 text-align: center;
 margin-top: -5px;
 margin-bottom: 10px;

}
.button button{
  width: 145px;
  height: 55px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  background-color: #313253;
  color: rgb(229, 228, 228);
  position: relative;
  z-index: 3;
}
.continue{
  margin-top: 35px;
}
.text{
  max-width: 350px;
  margin: 0 auto;
  font-size: 25px;
  font-weight: 700;
  color: #313253;
  margin-top: -20px;
}
.winner{
  background-color: rgba(49, 50, 83, 0.8);

  position: absolute;
  z-index: 2;
  width: 110%;
  height: 110%;
  top: -5%;
  left: -5%;
  border-radius: 5px;
  display: flex;
  justify-content: center;

}
.winner-content{
  text-align: center;
  margin-top: 15%;
}
.winner-content p{
  font-size: 30px;
  color: rgb(229, 228, 228);
  font-weight: 700;
  
}
.winner-content .img{
  font-size: 90px;
  margin: 0;
 
}
@media screen and (max-width: 615px) {
  .content {
    margin-top: 0;
  }
  
}