
.signIn{
    min-height: 330px;
    color: #313253;
    display: flex;
    justify-content: center;
    margin-top: 30px;
  
}

.signIn input{
    display: block;
    background-color: #F5F1E7;
}
.signIn input, .signIn button{
    width: 350px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid rgb(97, 97, 97);
}
.signIn input{
    padding-left: 5px;
    color: #313253;

}
.signIn input+input{
    margin-top: 15px;
}
.signIn button{
    background-color: #313253;
    color: #F5F1E7;
    font-size: 14px;
    font-weight: 700;
    margin-top: 10px;
}
.signIn label{
    font-size: 15px;
    font-weight: 700;
}
.form p{
  float: right;
  margin: 5px 0 20px 0;
  color: #005BBB;
}
.signUp{
    text-align: center;
    margin-top: 20px;
}
.signUp p{
display: inline;
margin-right: 15px;
}
.signIn a{
    color: #005BBB;
    text-decoration: none;
}
.signUp a:hover{
    text-decoration: underline;
}
.errorItems{
    color: darkred;
    font-weight: 700;
    text-align: center;
}
.error{
    margin-top: 5px;
    color: darkred;
}