<div class="footer">
    <div class="footer-component">
        <div class="footer-logo" routerLink="">
            <img src="../../assets/img/white-cross.svg" alt="cross" class="logo">
            <img src="../../assets/img/white-ellipse.svg" alt="ellipse" class="logo">
        </div>
        <div class="footer-network">
            <img src="../../assets/img/facebook.svg" alt="cross" class="logo">
            <img src="../../assets/img/instagram.svg" alt="ellipse" class="logo">
        </div>
    </div>
    <p>© 2023 All Rights Reserved.</p>
</div>