.table{
   display: flex;
   font-weight: 700;
   color: #313253;
   width: 200px;

}
.table-content{
    width: 80%;
    background-color:#f0e9de;
    padding-left: 10px;
    margin-left: 30px;
}
.table-content p{
font-size: 21px;
margin-bottom: 10px;
margin-top: 10px;
}
.table-content img{
    width: 20px;
}
.table-content span{
    padding-left: 10px;
   font-size: 23px;
}
.cross{
   margin-bottom: 10px;
}
button{
    border: none;
  border-radius: 5px;
  background-color: #313253;
  color: rgb(229, 228, 228);
  float: right; 
  width: 80px;
  height: 20px;
  font-size: 13px;
  text-align: center;
  margin: 5px;
}

.content .btn button{
    width: 165px;
    height: 30px;
    font-size: 14px;
    margin-top: 10px;
}
.content .winnerNull{
    color: darkred;
    margin: 0;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    margin: 5px 0 0 15px;
    
}
